@import "tailwindcss";
@tailwind utilities;

/* === Design Tokens / Brand Theme === */
:root {
  /* Brand Colors */
  --color-brand-orange: #E3572B;
  --color-brand-navy-blue: #16243E;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-slight-white: #F6F6FE;
  --color-gray: #18181B;
  --off-white: #FAFAFA;
  --color-slight-black: #000000cc;

  /* border */
  --border-black: #010205;

  /* Text color */
  --primary-text-color: var(--color-slight-black);

  /* Base Layout Colors */
  --background: var(--color-brand-navy-blue);
  --foreground: var(--color-black);

  /* Corner radius */
  --radius: 1rem;

  /* shadow */
  --menu-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
  --text-shadow-heading: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* //dark mode and lightmode bg */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #16243E;
    --foreground: #ededed;
  }
}

/* === Base Styles === */
body {
  background-color: var(--background);
  color: var(--color-brand-navy-blue);
}

@layer utilities {
  /* font family */
  .font-source {
    font-family: var(--font-source);
  }

  .font-heading {
    font-family: var(--font-raleway);
  }

  .font-jakarta {
    font-family: var(--font-jakarta);
  }

  .main-container {
    font-family: var(--font-inter);
  }
  /*  */

  .shadow-menu {
    box-shadow: var(--menu-shadow);
  }

  .text-shadow-heading {
    text-shadow: var(--text-shadow-heading);
  }

  .brand-bg-navy {
    background-color: var(--color-brand-navy-blue);
  }

  .brand-text-navy {
    color: var(--color-brand-navy-blue); 
  }

  .brand-bg-orange {
    background-color: var(--color-brand-orange);
  }

  .brand-text-orange {
    color: var(--color-brand-orange);
  }

  .brand-text-gray {
    color: var(--color-gray);
  }

  .brand-bg-offwhite {
    background-color: var(--off-white);
  }

  .card-bg-slight-black {
    background-color: var(--color-slight-black);
  }

  .footer-getstarted-banner-bg {
    background-color: #020609;
  }

  .border-opacity {
  border: 1px solid rgba(189, 189, 189, 0.32);
}


  .mask-spotlight {
    mask-image: radial-gradient(circle at center, transparent 80px, black 150px);
    -webkit-mask-image: radial-gradient(circle at center, transparent 80px, black 150px);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }
}